.fullWidth{
	width:1200px;
}

.colorWhite{
	color:white;
}

.bgGray24{
	background: #3D3D3D;
}


.bgGray93{
	background: #F2F2F2	;
}

.colorGray71{
	color: #B5B5B5	;
}

.colorCoral{
	color:#FF7F50;
}





.margin{
	margin:15px 75px;
}

.borderRadius{
	border-radius:5px;
}

.floatLeft{
	float:left;
}



.advancedLogin{
	width:100%;
	height:60px;
	
}

.logo{
	position: relative;
	left:55px;
	top:7px;
}

.advancedLogin p{
	position: relative;
	top:10px;
	left:15px;
}

.dashBoard{
	width:100%;
	height:45px;
	

}

.sectionFirst{
	position: relative;
	left:60px;
	top:10px;
}

.sectionFirst p{
	position: relative;
	left:120px;
	bottom:20px;
}

.sectionSecond{
	width:180px;
	height:45px;
	
	position: relative;
	left:100px;
}



.proFile{
	width:80px;
	height: 45px;
	
}

.fa-user{
	position: relative;
	top:10px;

}


.proFile p{
	position: relative;
	left:15px;
	bottom:10px;
}

.fa-power-off{
	position: relative;
	top:10px;
}

.signOut{
	position: relative;
	left:15px;
	bottom:10px;
}

.menuSection{
	height:50px;
	
}

.menuPosition{
	position: relative;
	left:-40px;
	top:10px;
}
li{
	list-style-type: none;
	display:inline;
	padding:20px 20px;
	
	
}

li:hover>i{
	color:#0000FF;
	cursor:pointer;
}
li:hover>a{
	color:#0000FF;
	cursor:pointer;
}

.menuSection a:hover{
	text-decoration: none;
	
}

.menuPosition .fa-user{
	position: relative;
	top: 0px;
}
.lightBulb{
	height:70px;
	background:#8DB6CD;
}




.fa-lightbulb-o{
	position: relative;
	top:10px;
	left:15px;
}

.textBulb{
	position: relative;
	left:50px;
	bottom:30px;
}


.newsSection{
	height:150px;
	background: lightpink;
}

.newsAnnouncment{
	height: 50px;
	
}

.fa-reorder{
	position: relative;
	left:20px;
	top:10px;
}

.rowNews h4{
	position: relative;
	bottom:20px;
	left:40px;
}

.plus{
	width:40px;
	height: 40px;
	background: black;
	position: relative;
	left:120px;
}

.fa-plus{
	position: relative;
	top:10px;
	left: 15px;
}

.viewingNews{
	height: 50px;
	background: green;
	position: relative;
	bottom:16px;
}

.footer{
	height:100px;
	position: relative;
	top: 130px;
	
}

.footerText{
	position: relative;
	top:20px;
}