.fullWidth{
	width:1200px;
}


.bgGray24{
	background: #3D3D3D
}

.bgwhiteSmokey{
	background:#F4F4F4;
}

.colorwhiteSmokey{
	color:#ABABAB;
}

.colordarkGray{
	color:#A9A9A9;
}


.margin{
	margin: 25px 75px;
}

.borderRadius{
	border-radius: 5px;
}

.marginTop{
	margin-top: 25px;
}

.colorlightCoral{
	color:#F08080;
}

.colorWhite{
	color:white;
}
.floatLeft{
	float:left;
}

.iconPosition{
	position:relative;
	left:35px;
	top:7px;
}

.textPosition{
	position: relative;
	left:10px;
}

.advancedLogin{
	height: 80px;
	position: relative;
	left: -15px;
}
.logo{
	width:385px;
	height: 80px;
	
}

.imgLogo{
	position: relative;
	left:55px;
	top:15px;
}

.homePage{
	width:120px;
	height: 80px;
	
	position: absolute;
	left:155px;
	
}


.contactUs{
	width:120px;
	height: 80px;
	
	position: absolute;
	right:0px;
}


.welcomeClient{
	height: 70px;
}

.welcomeClient i{
	position: relative;
	top:10px;
	left:20px;
}
.welcomeClient p{
	position: relative;
	left:30px;
	top:5px;
}

.logIn{
	height:345px;
	background: gray;
}

.userLogin{
	height: 70px;
	border:1px solid #EDEDED;
}

.userLogin h4{
	position: relative;
	top:25px;
	left:20px;
}

.userPassword{
	height: 185px;
	border:1px solid #EDEDED;
}

.userPassword h4{
	position: relative;
	top: 30px;
}

.input{
	width:845px;
	height:40px;
	border:1px solid #A9A9A9;
	position: relative;
	top:30px;
	background: white;
}

.input .fa-user{
	position: relative;
	top:7px;
	left:10px;

}
input{
	border:0;
	outline: none;
	position: relative;
	left: 15px;
	top:6px;
	width:795px;
}

.input .fa-asterisk{
	position: relative;
	top:7px;
	/*left: 625px;*/
}

.gridPass{
	position: relative;
	top:40px;
}
.buttonSection{
	height: 90px;
	border:1px solid #EDEDED;
}
.passReq{
	width:150px;
	height:40px;
	background: #FF3030;
	border:none;
}
.regAccount{
	width:160px;
	height: 40px;
	border: none;
}

.loginNow{
	width:160px;
	height: 40px;
	background: #4682B4;
	border:none;
}
.iconButton{
	width:50px;
	height:40px;
	background: red;
}

button{
	position: relative;
	top:25px;
}

.regAccount{
	position: relative;
	left:10px;
}
.loginNow{
	position: relative;
	left: 20px;
}

.footer{
	height: 90px;
	border:1px solid #EDEDED;
	text-align: center;
}

.footerText{
	position: relative;
	top:10px;
}